

header{
    display: flex;
    height: 200px;
    justify-content: space-between;
    margin: 0px 10% 0px 10%;
    padding-bottom:0%;
     }

.logo{
  margin: 0px;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}
h1{
  height: 0px;/*makes the address and title near each other*/
  font-family: Helvetica, Sans-Serif;
  color:rgb(54, 54, 106)
}
.address{
    display: flex;
    margin: 10px auto;

}
.logo2{
    display: flex;
    margin: 38px;
}
hr{
  border-top: 10px solid rgb(204, 234, 73);
  margin: 0px;
} 
  nav{
    position: relative;
    background-color: rgb(105, 207, 249); /* Add a black background color to the top navigation */
    display: flex;
    justify-content: space-evenly;  
    margin: 0px auto;        
  }
    /* Style the links inside the navigation bar */
  .navigation {
    padding: 10px 20px;
    font-size: 17px;
    width: 120px;
    text-align: center;    
  }
   /* Change the color of links on hover */
  .navigation:hover {
    background-color: rgb(204, 234, 73);
    color: black;
  }
  .container1{
    display: flex;
    background-color:rgb(105, 207, 249);
    justify-content: center;
    margin: 0px;
    
  }
  .button1{
    display: flex;
    background:rgb(54, 54, 106);
    color:rgb(204, 234, 73);
    margin: 20px;
    padding: 0px 30px;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    box-shadow: 5px 5px 10px 2px rgb(192, 192, 192);
    
  }
  
  .back{
    display: flex;
    justify-content: center;
    opacity: .2;
    position:relative;   
  }
  .main{
    display:flex;
    flex-direction: column;
    background-color: rgb(105, 207, 249);
    background-image: url(Images/LOGOTEETH.png);/*background image*/
    background-size:  200px;
    
 }
 .main1{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin: 0px 50px;
 }
 .main2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
div.main a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
}
div.main a:hover {
  background-color: #777;
  transform: scale(1.2); /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}





    
  
    

  
  