*{
    font-family: Calibri, Sans-Serif;
}
header{
    display: flex;
     height: 200px;
     justify-content: center;     
    }
.logo{
    margin: 0px 10px;
}
.title{
    display: flex;   
    flex-direction: column;
    align-items: center;
    margin: 30px 50px;
    font-size: 110%;
    
    }
h1{
  height: 0px;/*makes the address and title near each other*/
  font-family: Helvetica, Sans-Serif;
  color:rgb(54, 54, 106)
}
.address{
    display: flex;
    font-family: Arial, Sans-serif;
    margin: 10px 20px;
}
hr{
  border-top: 3px solid rgb(204, 234, 73);
  margin: 0px;
} 
  nav{
    position: relative;
    background-color: rgb(105, 207, 249); /* Add a black background color to the top navigation */
    display: flex;
    justify-content: space-evenly;  
    margin: 0px auto;
            
  }
    /* Style the links inside the navigation bar */
  .navigation {
    padding: 10px 20px;
    font-size: 17px;
    width: 120px;
    text-align: center;    
  }
   /* Change the color of links on hover */
  .navigation:hover {
    background-color: rgb(204, 234, 73);
    color: black;
  }
  .navigation a{
    color: rgb(54, 54, 106);
    text-align: center;
    font-family: Arial, Sans-serif;
  }   
  .main{
    display:flex;
    flex-direction: column;
    background-color: rgb(105, 207, 249);
    background-image: url(Images/todays-rdh-dental-instruments.png);/*background image*/
    background-size:  100%;
    
      
 }
 .main1{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   opacity: 0.9;
   
   
 }
 .main2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  opacity: 0.9;
}
div.main a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
}
div.main a:hover {
  background-color: #777;
  transform: scale(1.2); /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.Headline {
    display: flex;
    justify-content: center;    
    font-family: Helvetica, sans-serif;
    color:rgb(54, 54, 106);
    margin: 0 auto;
    text-align: center; 
    font-size: 20;   
}
.Support{
    display: flex;
    justify-content: center;
    font-family: Calibri, sans-serif;
    margin: 0 20%;
    text-align: center;
    font-size: 17px;  
}
.container1{
    display: flex;    
    justify-content: center;
    margin: 20px 120px 0px 0px;
    font-family: Helvetica, Sans-Serif;    
  }
  .logo2{
      margin: 0 20px;
  }
  .statement{
      display: flex;
      justify-content: center;
      padding: 10px;
      font-size: 17px;
  }
  .button1{
    display: flex;
    background:rgb(54, 54, 106);
    color:rgb(204, 234, 73);
    height: 75px;
    margin: 5px;
    padding: 0px 30px;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    box-shadow: 5px 5px 6px 2px rgb(192, 192, 192);      
  }
  .button1 a{
      color: rgb(204, 234, 73);
      font-family: Helvetica, Sans-Serif;
  }
  .Testimonials{
      border-radius: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 800px;
      margin: 20px auto;
      background-color:rgb(105, 207, 249);
      padding: 20px;    
    }
    .TestimonialA{
        display: flex;       
    }
    .box1{
        margin: 0px 20px;
    }
    .TestimonialB, .TestimonialC{
        display: flex;
        margin: 20px auto;       
    }
    .box2, .box3{
        display: flex;
        flex-direction: column;
        margin: 0px 20px;
    }
    * {
      box-sizing: border-box;/*sets padding and border are included in the width and height*/
    }
    
    /* ===============
       TYPOGRAPHY
       =============== */
    
    body {
      font-family: sans-serif;
    }
    
    /* ===============
       BUTTONS
       =============== */
    
    input[type="reset"] {
      color: #0e7a0d;
      padding: 12px 20px;
      border: 1px solid #0e7a0d;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type="reset"]:hover {
      background-color: #d1efe3;
    }
    
    input[type="submit"] {
      background-color: #0e7a0d;
      color: white;
      padding: 12px 20px;
      border: 1px solid #0e7a0d;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: #00ab66;
    }
    
    /* ===============
       STRUCTURE
       =============== */
    
    .wrapper-form {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      max-width: 800px;
      margin: 10px auto;
    }
    
    .wrapper-button {
      display: flex;
      justify-content: space-between;
    }
    
    /* ===============
       FORM CONTROLS
       =============== */
    
    input,
    select,
    textarea {
      font-size: 1em;
    }
    
    input[type="text"],
    select,
    textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    
    input[type="email"] {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    
    textarea {
      font-family: sans-serif;
    }
    
    fieldset {
      margin-bottom: 16px;
      border: 1px solid #ccc;
    }
    
    .label-required {
      font-size: 0.8rem;
      color: red;
    }
  .BOTTOM{
    display: flex;
  }



